---
const today = new Date();
---

<footer class="flex justify-center py-8" data-aos="fade-up">
  <p>
    &copy; {today.getFullYear()} Justine Norie B. Dela Cruz. All rights reserved.
  </p>
</footer>
