<section class="flex justify-center py-24" data-aos="fade-up">
  <div class="grid grid-cols-1 xl:grid-cols-2">
    <!-- PERSONAL INFO -->
    <div class="order-2 space-y-6 text-center xl:order-0 xl:text-left">
      <p class="text-2xl">Hello, I'm</p>

      <div>
        <h1>Justine Norie</h1>
        <h2 class="text-muted-foreground">I build things for web</h2>
      </div>

      <p class="text-foreground/80">
        Web React Developer & Multi-Platform App Builder | Hands-on problem
        solver specializing in modern web, mobile, and desktop systems with
        strong UI/UX, real-world project development, and end-to-end
        architecture skills.
      </p>

      <a
        href="#projects"
        class="bg-primary text-primary-foreground hover:bg-primary-foreground hover:text-primary rounded-md px-4 py-2 transition-colors"
      >
        View my Projects
      </a>
    </div>

    <!-- MY PICTURE -->
    <div
      class="relative order-1 mb-8 flex h-full w-full items-center justify-center xl:order-0 xl:mb-0"
    >
      <div
        class="h-[285px] w-[285px] rounded-full bg-blue-500 xl:h-[498px] xl:w-[498px]"
      >
      </div>
    </div>
  </div>
</section>
