---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class:list={[
    "group relative inline-flex items-center px-1 py-1 text-base font-medium transition-colors",
    isActive ? "text-primary font-semibold" : "text-muted-foreground hover:text-foreground",
    className,
  ]}
  {...props}
>
  <slot />
  <span 
    class:list={[
        "absolute -bottom-0.5 left-0 h-0.5 w-full bg-primary rounded-full transition-transform duration-300 ease-out origin-left",
        isActive ? "scale-x-100" : "scale-x-0 group-hover:scale-x-100"
    ]}
  ></span>
</a>