---
import { icons, type IconName } from "./icons";

interface Props {
  name: IconName;
  class?: string;
  title?: string;
}

const { name, class: className, title } = Astro.props;
const icon = icons[name];
---

<svg
  class={`${icon.color || ""} ${className || ""}`}
  viewBox={icon.viewBox}
  xmlns="http://www.w3.org/2000/svg"
  fill="currentColor"
  aria-hidden={!title}
  role={title ? "img" : "presentation"}
>
  {title && <title>{title}</title>}
  {icon.paths.map((d) => <path d={d} />)}
</svg>
