---
import { icons } from "./icons";

interface Props {
  name: keyof typeof icons;
  class?: string;
}

const { name, class: className } = Astro.props;
const iconPath = icons[name];
---

<svg
  class={className}
  role="img"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg"
  fill="currentColor"
>
  <title>{name}</title>
  <path d={iconPath}></path>
</svg>
